#map {
    height: 400px; 
    width: 100%;
}

label{
    padding-left: 8px;
}

.divCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#listNotes{
    width: 100%;
    padding: 0;
}

.liNote{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.btnInfoView{
    width: 100%;
    display: block;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btnInfoView a, .btnInfoView a:visited, .btnInfoView a:active{
    text-decoration: none;
    color: black;
    font-weight: normal;
}