#map {
    height: 300px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}

/* .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.divCenter{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnDeleteNote{
    display: inline;
    margin-left: 10px; 
}

.btnInfoView{
    width: 100%;
    display: block;
    color: black;
}

.btnInfoView a{
    text-decoration: none;
    color: black;
}